
@{
    ViewData["Title"] = "_Layout";
}
<!DOCTYPE html>

<html lang="en">
<head>

    <title>
        ScanX
    </title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("styles",false)
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <div class="container">
            <a class="navbar-brand" href="#">ScanX</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Devices">Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ScannerSample">Scanner Example</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Documentation">Docs</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                ScanX  <span>v</span>@VersionHelper.Version All rights reserved 2018 - @DateTime.Now.Year <a href="https://github.com/balbarak/scanx">https://github.com/balbarak/scanx</a>
            </span>
        </div>
    </footer>
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>

    <script type="text/javascript">

        $(function () {

            setActiveLink();
        })

        function setActiveLink() {

            var currentPath = location.pathname.toLocaleLowerCase();

            $('.nav-item a').each(function (i, n) {

                var href = $(n).attr("href");

                if (href) {
                    href = href.toLowerCase();

                    if (href.endsWith(currentPath)) {

                        var anchor = $(n);

                        var navToggle = anchor.parents('.nav-item');

                        navToggle.addClass('active');

                        $(n).closest("li").addClass('active');

                    }
                }
            });
        }
    </script>

    @RenderSection("scripts", false)

</body>
</html>